.container {
    display: flex;
    flex-direction: column;
}

.input {
    margin-bottom: 0.4rem;
}

.dots {
    text-align: center;
    margin-top: 0.5rem;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
  }

#navigation {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

#slider {
    width: 600px;
    height: 400px;
    margin: 100px auto 0 auto;
    overflow: hidden;
}
#slider .slides {
    display: flex;
    animation-name: move-to-left;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes move-to-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000px);
    }
}
